# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtualenv
venv/
env/
ENV/

# Django
*.sqlite3
*.log
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

