{% extends "base.html" %}
{% block title %}Excluir Paciente{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="card shadow-sm border-0 rounded-4 p-4">
    <h3 class="fw-semibold text-danger mb-3">
      <i class="bi bi-exclamation-octagon-fill me-2"></i> Excluir Paciente
    </h3>
    <p>Tem certeza que deseja excluir o paciente <strong>{{ object.nome }}</strong>?</p>

    <form method="post">
      {% csrf_token %}
      <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'listar_pacientes' %}" class="btn btn-secondary">
          <i class="bi bi-x-circle me-1"></i> Cancelar
        </a>
        <button type="submit" class="btn btn-danger">
          <i class="bi bi-trash3-fill me-1"></i> Sim, excluir
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
